name: CI

# This event is triggered on pushes & PRs to all branches
on:
  pull_request:
  push:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  prepare:
    name: Preparing pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Cloning repository

      - name: Get npm cache directory
        id: npm-cache-dir
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - name: Get npm cache
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - uses: actions/setup-node@v4
        name: Setting Node.js Version
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci
        continue-on-error: false

  tests:
    needs: prepare
    strategy:
      matrix:
        # Creates jobs for each element in the matrix
        test: ['unit', 'lint', 'typecheck', 'coverage']
      # Let individual jobs in the matrix fail without canceling all jobs
      fail-fast: false
    name: ${{ matrix.test }} tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Cloning repository

      - name: Get npm cache directory
        id: npm-cache-dir
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - name: Get npm cache
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - uses: actions/setup-node@v4
        name: Setting Node.js Version
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci
        continue-on-error: false

      - name: Running ${{ matrix.test }} tests
        run: npm run test:${{ matrix.test }}
        continue-on-error: false

  dispatch-string:
    needs: tests
    name: Dispatch using stringified payload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Cloning repository

      - uses: ./
        name: Dispatch Event
        id: dispatch_action
        with:
          eventType: 'test_dispatch'
          token: ${{ secrets.REPO_PAT }}
          payload: '{"requested_by": "${{github.actor}}"}'

  dispatch-path:
    needs: tests
    name: Dispatch using file path payload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Cloning repository

      - uses: ./
        name: Dispatch Event
        id: dispatch_action
        with:
          eventType: 'test_dispatch'
          token: ${{ secrets.REPO_PAT }}
          payloadType: path
          payloadPath: test/files/valid.json

  dispatch-url:
    needs: tests
    name: Dispatch using file URL payload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Cloning repository

      - uses: ./
        name: Dispatch Event
        id: dispatch_action
        with:
          eventType: 'test_dispatch'
          token: ${{ secrets.REPO_PAT }}
          payloadType: url
          payloadUrl: https://raw.githubusercontent.com/iniva/action-repository-dispatch/main/test/files/valid.json
